/* General */
html {
  scroll-behavior: smooth;
  margin: 0px;
  width: 100%;
}
body {
  background: linear-gradient(
    -90deg,
    rgb(247, 201, 201),
    rgb(174, 198, 207),
    rgb(178, 163, 184)
  );
  background-size: 400% 400%;
  color: white;
  text-shadow: 2px 2px 3px rgb(174, 198, 207);
  margin: 0px;
  overflow-x: hidden;
  animation: fade-in 5s ease-in;
  animation-delay: 3s;
  animation: gradient 8s ease infinite;
}
#overlay {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    -45deg,
    rgb(247, 201, 201),
    rgb(174, 198, 207),
    rgb(178, 163, 184)
  );
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  animation: load-fade 3s ease-out;
  transition: 1s all linear;
}
.loader {
  width: 80px;
  height: 80px;

  border: 2px solid rgb(174, 198, 207);
  border-top: 3px solid rgb(247, 201, 201);
  border-right: 3px solid rgb(178, 163, 184);
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}
hr {
  margin-bottom: 50px;
}

/* Header section*/
header {
  min-height: 100vh;
  margin-bottom: 25px;
}
.midhead {
  margin: auto;
  transform: scale(0.75, 0.75);
}
/* Likes & dislikes section*/
table {
  display: block;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 15%;
  text-shadow: 2px 2px 3px rgb(174, 198, 207);
  color: white;
  background-color: rgb(247, 201, 201);
  padding: 15px;
  position: absolute;
}
/* Hobbies section*/
.box {
  background: rgb(174, 198, 207);
  text-align: left;
  margin-left: 55%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 0;
  padding-right: 10%;
}
.corner {
  font-size: 50px;
  font-weight: bolder;
  padding: 10px;
  mix-blend-mode: normal;
  margin-top: 25%;
}
/* Family section */
.side {
  font-size: 35px;
  padding: 30px;
  margin-top: 0;
  transform: translate(70%, 25vh);
}
.speech {
  font-size: 22px;
  text-align: justify;
  color: white;
  padding: 40px;
  display: block;
}
/* Hopes & dreams section */
.hopes {
  transform: translateX(30px);
  font-size: 20px;
  padding: 15px 15px 20px 15px;
  text-align: justify;
  width: 50%;
}
.purple {
  background-color: rgb(178, 163, 184);
  padding: 20px 20px 20px 45px;
  float: left;
}
.blue {
  vertical-align: right;
  float: right;
  background-color: rgb(174, 198, 207);
  padding: 20px 45px 20px 20px;
  margin-left: 5%;
  margin-bottom: 5%;
}
.pink {
  float: right;
  margin-left: 50%;
  margin-top: 30px;
  background-color: rgb(247, 201, 201);
  padding: 20px 45px 20px 20px;
}
/* Footer section */
footer {
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 50px;
}
